.bar{
    border:1px black solid;
    width: 60vw;
    height: 20px;
    margin-left: 15px;
}
.red_to_green 
{ 
    filter: hue-rotate(135deg); 
}
.marker
{
    position: relative;
}
.samel
{
    display: flex;
}
.containers {
    position: relative;
}
img
{
    height: 20px;
    width: 20px;
    margin: 0;
}
.button {
    margin-left: 2px;
    margin-right: 2px;
}
.bar_area
{
    margin: 20px;
}
.side_menu_border
{
    width: 100%;
    height: 50vh;
    border: black solid 1px;
    margin-top: 40px;
    margin-right: 20px;
    justify-content: center;

}
.side_menu
{
    display: flex;
}
.side_menu button
{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 0;
}
.content_div {
    display: none;
}
.show
{
    margin-left: 5px;
    height: 100%;
}
.scroll
{
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.side_menu #last
{
    margin-right: 20px;
}
.buy {
    width: 2px; /* Adjusted width to make it more visible */
    border: 2px dotted black;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 56px;
    background-color: lightblue /* Optional: adds a background color for better visibility */
}
.new_bar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 30px;
    margin-bottom: 500px;
}
